<div class='container'>
	<h1><b>Envo</b></h1>
	<h3>Click on a state to get the latest environmental news.</h3>
	<div id='map-canvas'></div>
	<div id='feed'>
	<div id='ball'>
		<div class="ball">
			Loading...
		</div>
	</div>
		<h4>News</h4>
	</div>
</div>

